* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.abcd{
	background: url();  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
}
.heading .xy {
  /*padding: 20px;*/
  font-size: 70px;
  font-weight: bold;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-family: cursive;
}
.searchContent {
  padding: 40px;
  height: 30px;
  /*align-items: center;*/
}
input[type="text"] {
  font-size: 20px;
  color: #375e7e;
  font-weight: bold;
  border: 2px black;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  padding-left: 7px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.mainContent {
  width: 100%;
  height: 500px;
  margin: 20px;
  margin-bottom: 0px;
  padding: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: url();  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mainContent h2 {
  margin: 40px;
  padding: 40px;
}
.contentOne, .contentTwo, .mainContent>h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#temp {
  font-size: 60px;
  font-weight: bold;
}
#weather {
  font-size: 50px;
  font-weight: bold;
}